<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500598548137-ifp7c4rsfmjekj9g7rmsqgdhm03238af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500598548137-ifp7c4rsfmjekj9g7rmsqgdhm03238af</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500598548137-ql775vifuhdcehn90ueo58a53s9cv9qs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCihQq7wgcs3iGliBhJ5FcI_Dgba6B2JqA</string>
	<key>GCM_SENDER_ID</key>
	<string>500598548137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackcar.app</string>
	<key>PROJECT_ID</key>
	<string>blackcarapp-edcf1</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcarapp-edcf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500598548137:ios:23e057cef5623d618e2bb8</string>
</dict>
</plist>